/*---------- NAVBAR ----------*/
.container-fluid {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.nav-item.dropdown .dropdown-menu {
    right: 0;
    left: auto;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Lighten the border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.nav-link {
  color: white; /* Keep the text white */
  transition: background-color 0.3s ease, font-weight 0.3s ease; /* Smooth transition for both background and font-weight */
  font-weight: normal;
}

.nav-link:hover, .nav-link:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.1); /* Darker background on hover */
  border-radius: 10px; /* Optional: make the background slightly rounded */
}

.nav-link.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.2); /* Even darker background when active */
  border-radius: 10px;
  font-weight: bold;
}

.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle.show {
  background-color: #4b48dc; /* Same darker background for active dropdown */
  font-weight: bold; /* Keep it bold */
}

@media (max-width: 767px) {
  .nav-link {
    width: 100%; /* Make each nav item take up full width */
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
  }
}

/*---------- END OF NAVBAR ----------*/


/*---------- NAV TABS ---------*/
.container {
  font-family: "Lato", sans-serif;
}

.container .nav-link {
  color: blue;
}

.container .nav-link.active {
  color: black;
  font-weight: bold;
}

