{% extends "admin/admin_dashboard.html" %}


{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Genesis</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Judges</button>
  </li>
</ul>

{% comment %} content tab {% endcomment %}

<!-- Title Page -->
<div class="page-title mb-4" style="margin:15px;">
    <!-- Dashboard Title -->
    <h2 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 50px;">Dashboard</h2>
    <hr style="margin-top: 0; color: black;">
</div>

<div class="container">
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="container-fluid border rounded" style="padding: 20px">
        <div class="row g-3">
            <div class="col-md-4">
                <label for="">Adviser:</label>
                <h3>Melchor Bernardo</h3>
            </div>
            <div class="col-md-4">
                <label for="">Section:</label>
                <h3>Genesis</h3>
            </div>
        </div>
        
        <label for="">Student List</label>
        <table class="table table-hover" >
            <thead>
                <tr>
                <th scope="col">LRN</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in student %}
                        <tr>
                        <td>{{i.student_lrn}}</td>
                        <td>{{i.surname}}</td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.middle_name}}</td>
                        <td>
                            <button class="btn btn-primary" type="submit" title="Edit"><a href="{% url "student_profile" i.student_lrn %}" style="text-decoration: none; color: inherit" >View</a></button>
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>    
    </div>


    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container-fluid border rounded" style="padding: 20px">
        <div class="row g-3">
            <div class="col-md-4">
                <label for="">Adviser:</label>
                <h3>Jevin Victorama</h3>
            </div>
            <div class="col-md-4">
                <label for="">Section:</label>
                <h3>Judges</h3>
            </div>
        </div>
        
        <label for="">Student List</label>
        <table class="table table-hover" >
            <thead>
                <tr>
                <th scope="col">LRN</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in student %}
                        <tr>
                        <td>{{i.student_lrn}}</td>
                        <td>{{i.surname}}</td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.middle_name}}</td>
                        <td>
                            <button class="btn btn-primary" type="submit" title="Edit"><a href="{% url "student_profile" i.student_lrn %}" style="text-decoration: none; color: inherit" >View</a></button>
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="container-fluid border rounded" style="padding: 20px">
        <div class="col-4">
            <label for="">Adviser:</label>
            <h3>Damaso</h3>
        </div>
        <div class="col-4">
            <label for="">Section:</label>
            <h3>RP</h3>
        </div>
        
        <label for="">Student List</label>
        <table class="table table-hover" >
            <thead>
                <tr>
                <th scope="col">LRN</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in student %}
                        <tr>
                        <td>{{i.student_lrn}}</td>
                        <td>{{i.surname}}</td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.middle_name}}</td>
                        <td>
                            <button class="btn btn-primary" type="submit" title="Edit"><a href="{% url "student_profile" i.student_lrn %}" style="text-decoration: none; color: inherit" >View</a></button>
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
    </div>    
</div>


{% endblock content %}